<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1>Demo App</h1>


<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about" >AboutUs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact" >Contact US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="demo" >Demo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="pipe" >Pipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="user" >User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="userdemo" >UserDemo</a>
        </li>
        
    </ul>
</div>

<div class="container">

    <h2 changecolor> Hello World</h2>
<h3 highlight> Hello</h3>

<div *ngIf="flag">
    This Div is Visible
</div>

<div [ngSwitch]="'one'">
    <div *ngSwitchCase="'one'">One is Displayed</div>
    <div *ngSwitchCase="'two'">Two is Displayed</div>
    <div *ngSwitchDefault>Default Option is Displayed</div>
    </div>

     


</div>

    
    
  <router-outlet></router-outlet>
  </body>
  </html>

  